@import '~antd/dist/antd.css';
.flex-container {
  display: flex;
  margin-top:100px;
}

.flex-child {
  flex: 1;
  border: 2px solid #4db8ff;
}  

.flex-child:first-child {
  margin-right: 20px;
}

.img-style{
  height: 100%;
  width:100%;
}

.sticky-header{
    height:'100px';
    position: 'sticky';
    top: '0px';

}

.about-text{
  background-color: aliceblue;
  padding:12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ant-table table{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.table-row{
  font-size: 16px;
  background-color: #fff2e6;
 
}

.ant-table-title{
  font-size:20px;
  font-weight: bolder;
  color: #005266;
}

th.ant-table-cell{
  color: #663300 !important;
  font-size: 18px;
}

.ant-layout-header{
  height : 85px !important;
  padding-top: 16px;
  font-size: 20px;
}

.lang-auth-div{
  display: flex;
  float: right;
  width: 100px;
  justify-content: space-between;
  cursor: pointer;
}

